/* Sidebar base styles */
.sidebar {
    width: 260px;
    height: 100%;
    background-color: #0170BD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.close-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

/* Menu items */
.sidebar-menu {
    margin-top: 30px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item:hover {
    background-color: #005c8c;
    color: #fff;
    border-radius: 5px;
}

.sidebar-item.active {
    background-color: #005c8c;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar-item svg {
    margin-right: 10px;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 60%;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .close-btn {
        display: block;
        text-align: right;
    }

    .sidebar-item {
        font-size: 18px; 
    }
    .sidebar-menu {
        padding-right: 10px
    }
}

@media (max-width: 320px) {
    .sidebar {
        width: 50%;
        transform: translateX(-100%);
    }
    .close-btn {
        display: block;
        text-align: right;
        font-size: 14px;
    }
    .sidebar-item svg {
        font-size: 14px;
    }
   .logo {
       font-size: 14px;
   }
    .sidebar-item {
        font-size: 14px;
    }
}